{:duct.profile/base
 {:duct.core/project-ns promissory-notes-platform

  :promissory-notes-platform.usecase.settlement/settlement-usecase {}

  ; presentation
  :promissory-notes-platform.handler.settlement-controller/execute
  {:settlement-usecase #ig/ref :promissory-notes-platform.usecase.settlement/settlement-usecase}
  :promissory-notes-platform.handler.healthcheck/execute {}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module.web/api {}
 :duct.module/logging {}
 :duct.module/ataraxy
 {"/healthcheck"
  {:get [:healthcheck/execute]}
  "/promissorynotes"
  {[:post {body :body-params}] [:settlement-controller/execute body]}}}
