{:duct.profile/base
 {:duct.core/project-ns promissory-notes-platform

  :promissory-notes-platform.domain.type.id/basic-id {}
  :promissory-notes-platform.handler.healthcheck/execute {:id #ig/ref :promissory-notes-platform.domain.type.id/basic-id}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module.web/api {}
 :duct.module/logging {}
 :duct.module/ataraxy
 {"/healthcheck"
  {:get [:healthcheck/execute]}}}
